@import url('http://fonts.googleapis.com/css?family=Ubuntu');

body {
	background-color: rgb(243,253,172);
	font-family: 'Ubuntu';
}
.logo-image {
	width: 250px;
	height: 180px;
	padding-top: 15px;
	padding-left: 20%;
}

.logo-text {
	color: rgb(255,216,79);
	font-size: 150px;
	padding-left: 35px;
}

div.logo a {
	text-decoration: none;
}

div.logo a:visited {
	text-decoration: none;
}

a {
	text-decoration: none;
	color: rgb(64,128,128);
	margin-right: 25px;
}

a:hover {
	color: white;
}

.menu {
	background-color: rgb(181,230,29);
	padding-left: 268px;
	font-size: 30px;
	margin-bottom: 5%;
}

div.glavni {
	margin-left: 20%;
	width: 60%;
	color: rgb(64,128,128);
	font-size: 20px;
	padding-bottom: 20px;
	float: left;
}

div.reklame {
	color: rgb(64,128,128);
	width: 20%;
	height: 50%;
	float: left;
	text-align: center;
}

.reklame-body {
	margin-left: 15%;
	width: 70%;
	color: rgb(64,128,128);
	font-size: 20px;
}

table, th, td {
	border: 2px solid black;
	border-style: ridge;
	color: rgb(64,128,128);
	background-color: rgb(248,218,129);
	border-color: rgb(181,230,29);
	font-size: 20px;
	padding: 5px;
}

div.datum {
	font-size: 25px;
}

table {
	border-collapse: collapse;
	width: 100%;
}

td.red1 {
	font-size: 25px;
	background-color: rgb(181,230,29);
	color: white;
}

div.glavni a {
	font-size: 20px;
}

li.linkovi {
	padding-bottom: 10px;
	list-style-image: url('http://s8.postimg.org/dr84jgn4h/bullet.png')
}

iframe.frejm {
	width: 100%;
	height: 320px;
	border: 3px solid black;
	border-color: rgb(181,230,29);
}

div.frejm {
	color: rgb(64,128,128);
	height: 200px;
	width: 55%;
	padding-right: 5%;
	text-align: justify;
}

a.frejm {
	text-decoration: underline;
}

hr {
	height: 2px;
	background-color: rgb(64,128,128);
}

div.frejm-image {
	width: 40%;
	float: right;
}

table.frejm-image, td.frejm-image {
	border: 5px solid black;
	border-color: rgb(255,216,79);
	background-color: black;
	height: 100%;
	width: 100%;
	margin: 0px;
	padding: 0px;
}

img.frejm-image {
	height: 200px;
	width: 100%;
}

textarea.poruka {
	width: 50%;
	display: block;
	resize: none;
	font-size: 16px;
	font-family: 'Ubuntu';
}

input {
	font-family: 'Ubuntu';
	font-size: 16px;
}

mark {
	background-color: rgb(255,216,79);
	color: rgb(64,128,128);
	font-style: italic;
}